<section class="todoapp" *ngIf="todoListService.observable|async as todoList">
  <header class="header">
    <h1>{{todoList.label}}
    </h1> 
  
    <form (ngSubmit) ="addTodoItem()">
      <input  [(ngModel)]= "todoInputValue"
              name        = "newTodoInput"
              class       = "new-todo"
              placeholder = "Que faire?"
              autofocus #lab/>
      <button (click) = "activeSpeechRecognition()"><img src="../../assets/img/icon-mic.png" alt="image"/></button>
    </form>
  </header>

  <section class="main">
    <input  class="toggle-all"
            type="checkbox"
            name="toggleAll"
    /> 
    <label for="toggleAll" (click) = "checkAllItems()">Mark all as complete</label>
    <ul class="todo-list" *ngFor="let todoItem of todoList.items">
        <app-todo-item [todo]="todoItem" *ngIf="isItemFiltered(todoItem)" (deleteEmitter)="deleteTodoItem($event)" (updateEmitter)="updateTodoItem($event, todoItem)"></app-todo-item>
    </ul>
    
    </section>
    <footer class="footer">
      <span class="todo-count"><strong>{{getItemsNotDone(todoList.items)}}</strong> restantes</span>
      <ul class="filters">
        <li>
          <a class="filterAll" (click) = "setFilter('filterAll')">Tous</a>
        </li>
        <li>
          <a class="filterActives" (click) = "setFilter('filterActives')" >Actifs</a>
        </li>
        <li>
          <a class="filterCompleted" (click) = "setFilter('filterCompleted')">Complétés</a>
        </li> 
      </ul>
      <button class="clear-completed" (click) = "deleteCheckedItems(todoList.items)">Supprimer cochées</button>
    </footer>

    <footer class="footer2">
      <ul class="filters">
        <li>
          <a class="undo" (click) = "undo()"><img class="icon" src="../../assets/img/undo.png" alt="image"/></a>
        </li>
        <li>
          <a class="redo" (click) = "redo()"><img class="icon" src="../../assets/img/redo.png" alt="image"/></a>
        </li>
        <li>
          <a class="deleteAll" (click) = "deleteAllItems(todoList.items)"><img class="icon" src="../../assets/img/delete.png" alt="image"/></a>
        </li>
      </ul>
    </footer>

</section>
<div *ngIf="todoListService.observable|async as todoList">
  <qr-code [value]="toStringQR(todoList)" [size]="500"
  ></qr-code>
</div>


