<!-- Q2) Placer la balise de votre composant TodoList ici -->

<hr />
<!-- Q1) Pour tester rapidement -->
<!--<h1>Label de la liste</h1> -->
<!--
<form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <input #newLabel [ngModel]="input" type="text" name="input">
    <input type="submit" />
</form>
-->


<app-todo-list></app-todo-list>

<!--
<form (ngSubmit) ="append(newLabel.value)">
    <input #newLabel >
    <input type="submit" value="Ajouter">
</form>

<ul *ngIf = "obsTodoList |async as TDL">
    <li *ngFor="let element of TDL.items, index as i">
        <div class="view">
            <input type ="checkbox" class="toggle" name="done" [ngModel]="element.isDone"  (ngModelChange) ="updateValue({isDone:$event},element)"/>
            {{element.label}}
            <label class="texte"></label>
            <button class="destroy" (click) ="deleteItem(element)">Supprimer</button>

            <form (ngSubmit)= "updateValue({label:newTextInput.value},element)">
                <input [ngModel]="element.label" #newTextInput name="newTextInput" class="edit">
            </form>
        </div>
      </li>
      {{TDL | json }}
</ul>-->