<li [class.editMode]="editMode" [class.completed]="todo.isDone">
  <div class="view">
    <input [checked]="todo.isDone"
           class="toggle"
           type="checkbox"
           name="done"
           (change)="updateItemDone($event)"
    />
    <label *ngIf="!editMode" (dblclick)="changeEditMode()" class="texte">{{todo.label}}</label>
    <button (click)="deleteItem()" class="destroy"></button>
  </div>

  <input 
    *ngIf="editMode"
    #newTextInput
    name="newTextInput"
    class="edit"
    type="text"
    [value]="todo.label"
    [(ngModel)]="newValue"
    [style.display]="!editMode"
    (keyup.enter) = "updateItem()"
    (focusout) = "updateItem()"/>
</li>
